html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Layout
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  top: 120px;
}

#tweets-container {
  width: 95%;
}

.tweet-container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  margin-top: 75px;
}

.tweet-container > header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2em;
}

.tweet-body {
  width: 100%;
  padding: 2em 0;
  word-break: break-word;
}

.tweet-container > footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 4px solid #63542d80;
  padding-top: 1em;
}

.fa-flag-checkered:hover, .fa-retweet:hover, .fa-heart:hover {
  color: red;
  box-shadow: 0.5em 0.5em grey;
  text-shadow: 0.2px 0.2px;
}

.tweet-container:hover {
  box-shadow:0.5em 0.5em #63542d80;
}



@media only screen and (min-width: 768px) {
    body {
      display: flex;
    }
}



