nav {
  height: 120px;
  background-color: #3866e6;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
font-family: "Bungee", sans-serif;
font-size: 5vw;
}

.nav-quick-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.nav-quick-tweet p {
  margin: 0;
}

.arrow {
  color: red;
}